        <component name="Microsoft-Windows-International-Core-WinPE" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <SetupUILanguage>
                <UILanguage>{{SETUP_UI_LANGUAGE}}</UILanguage>
            </SetupUILanguage>
            <InputLocale>{{INPUT_LOCALE}}</InputLocale>
            <SystemLocale>{{SYSTEM_LOCALE}}</SystemLocale>
            <UILanguage>{{UI_LANGUAGE}}</UILanguage>
            <UILanguageFallback>{{UI_LANGUAGE_FALLBACK}}</UILanguageFallback>
            <UserLocale>{{USER_LOCALE}}</UserLocale>
        </component>
