            <UserAccounts>
                <AdministratorPassword>
                    <Value>vagrant</Value>
                    <PlainText>true</PlainText>
                </AdministratorPassword>
                <LocalAccounts>
                    <LocalAccount wcm:action="add">
                        <Password>
                            <Value>vagrant</Value>
                            <PlainText>true</PlainText>
                        </Password>
                        <Description>Vagrant User</Description>
                        <DisplayName>{{ACCOUNT_DISPLAY_NAME}}</DisplayName>
                        <Group>administrators</Group>
                        <Name>vagrant</Name>
                    </LocalAccount>
                </LocalAccounts>
            </UserAccounts>
